{% extends "base_generic.html" %}

{% block content %}
<h1>Author: {{ author }}</h1>
{% if perms.catalog.can_edit_delete_author %}
<p>
    <a href="{% url 'author-update' pk=author.id %}">Edit this author</a> |
    <a href="{% url 'author-delete' pk=author.id %}">Delete this author</a>
</p>
{% endif %}
<p>
    {{author.date_of_birth}} - {{author.date_of_death}}
</p>

<div style="margin-left:20px;margin-top:20px">
    <h4>Books</h4>

    {% for book in author.book_set.all %}
        <p>
            <a href="{% url 'book-detail' book.pk %}">{{book.title}}</a> ({{book.bookinstance_set.count}})
        </p>
        <p>
            {{book.summary}}
        </p>
    {% endfor %}
</div>
{% endblock %}