{% extends "base-cat.html" %}

{% block appContent %}
  <h1>Breed List</h1>
  <p>
      <a href="{% url 'breed-create' %}">Add a breed</a>
  </p>
  {% if breed_list %}
  <ul>
    {% for breed in breed_list %}
      <li>
        <a href="{{ breed.get_absolute_url }}">{{ breed }}</a> (
            <a href="{% url 'breed-update' pk=breed.id %}">Update</a> |
            <a href="{% url 'breed-delete' pk=breed.id %}">delete</a>
        )
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There is no breed.</p>
  {% endif %}       
{% endblock %}